@import "./articles.css";
@import "./inputs.css";
@import "./others.css";
@import "./post.css";
@import "./flexboxes.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
footer{
    margin-top: 3%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}